.slider {
  overflow: hidden;
  position: relative;
 

}

.slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.slider img {
  width: 100%;
  height: 100%;
 
}

.control-btn .next {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 5%;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  z-index: 10;
  left: 5%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  
}
/*--------form-----------*/
.slide-form h2 {
  margin-top: 30px;
}



.slide-form {
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  height: 55vh;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 5px 15px 5px #10a7ff ;
}
.slide-form input {
  margin-top: 20px;
  padding: 15px;
}
.slide-form .flex_space input:nth-child(odd) {
  margin-right: 20px;
}
.slide-form .submit {
  background: #1c5cbd;
  color: white;
}





/*--------form-----------*/
@media screen and (max-width: 1024px) {
  .slider {
    height: 70vh;
    position: relative;
  }
  .slide img {
    height: 100vh;
    object-fit: cover;
  }

  .slide-form {
    left: 5%;
    right: 5%;
    width: 90%;
    height: 40%;
    margin-top: 4rem !important;
  
  }

  .slide-form h2 {
    margin-top: 30px;
    font-size: 15px;
  }
  
  .slide-form input {
    margin-top: 10px ;
    padding: 20px;
  }
  .slide-form .flex_space input:nth-child(odd) {
    margin-right: 20px;
  }
  .slide-form .submit {
    background: #1c5cbd;
    color: white;
  }

  .slider .control-btn button {
    transform: translateY(17rem);
    position: absolute;

  }
}




/*--------form-----------*/
@media screen and (max-width: 768px) {
  .slider {
    height: 65vh;
    position: relative;
  }
  .slide img {
    height: 100vh;
    object-fit: cover;
  }
  .slide-form {
    left: 5%;
    top: 40%;
    width: 90%;
    height: 50vh;
    position: absolute;
  }

  .slide-form h2 {
    margin-top: 30px;
    font-size: 10px;
  }
  
  .slide-form input {
    margin-top: 10px;
    padding: 5px;
  }
  .slide-form .flex_space input:nth-child(odd) {
    margin-right: 10px;
  }
  .slide-form .submit {
    background: #1c5cbd;
    color: white;
  }

  .slider .control-btn button {
    transform: translateY(200px);
    position: absolute;

  }
}





/*--------form-----------*/
@media screen and (max-width: 768px) {
  .slider {
    height: 65vh;
    position: relative;
  }
  .slide img {
    height: 100vh;
    object-fit: cover;
  }
  .slide-form {
    left: 5%;
    top: 40%;
    width: 80%;
    height: 40vh;
  }

  .slide-form h2 {
    margin-top: 30px;
    font-size: 10px;
  }
  
  .slide-form input {
    margin-top: 10px;
    padding: 10px;
  }
  .slide-form .flex_space input:nth-child(odd) {
    margin-right: 20px;
  }
  .slide-form .submit {
    background: #1c5cbd;
    color: white;
  }

  .slider .control-btn button {
    transform: translateY(200px);
    position: absolute;

  }
}
