.download {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../public/Images/gallery-4.jpg");
  color: white;
  height: 75vh;
  padding: 50px 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.download h1 {
  font-size: 40px;
  color: #45f500;
}

.download ul {
  margin: 20px 0;
  font-weight: bold;
}
.download ul li {
  margin: 10px 0;
}
.download .row img {
  margin-right: 20px;
}
.download .row {
  position: relative;
}
.img .flex img {
  filter: brightness(110%) contrast(120%) saturate(120%);
}
.download .image {
  position: absolute;
  left: 20%;
  right: 0;
  filter: brightness(110%) contrast(120%) saturate(120%);
}

@media screen and (max-width: 768px) {
  .download .flex_space {
    flex-direction: column;
    padding: 40px;
  }
  .download .row {
    width: 100%;
  }
  .download .row2 {
    display: none;
  }
  .download {
    height: 60vh;
  }
}
